<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>ANTAM Records</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	 <meta name="viewport" content="width=device-width, initial-scale=1">
 	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	<link href='style.css' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>

<div id="banner">

<img src="images/antamlogo.jpg" width="200" class="img-circle" >
<p>NEW VINYL ONLY FRENCH LABEL</p>
</div>


<div class="card">
<h1>
<strong> Bleepy phunky techno & deep minimalistic layers coming straight from space</strong>
</h1>
</div>


<div id="shop">
  <a class="card"> Our distributor: Subwax !</a>
</div>

<div id="shop">
<img src="images/subwax2.jpg" width="600" >
</div>

<div id=aliens>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="images/alien4.jpg" width="200" height="200" class="img-circle" >
        <h1> WORK </h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
   	<img src="images/alien.jpg" width="200" height="200" class="img-circle">
    <h1> CREATE </h1></div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="images/alien2.jpg" width="200" height="200" class="img-circle">
    <h1> PLAY </h1></div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="images/alien3.jpg" width="200" height="200" class="img-circle">
    <h1> THINK </h1></div>
  </div>
</div>
</div>

<div id="pic2">
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="form-wufoo">
         <div id="wufoo-zm3iu780d94zch">
Fill out my <a href="https://antamrecords.wufoo.com/forms/zm3iu780d94zch">online form</a>.
</div>
<script type="text/javascript">var zm3iu780d94zch;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'antamrecords',
'formHash':'zm3iu780d94zch',
'autoResize':true,
'height':'342',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { zm3iu780d94zch = new WufooForm();zm3iu780d94zch.initialize(options);zm3iu780d94zch.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>



        </div>
      </div>
    </div>
  </div>


<div id=footer>
<div class=list-inline>
	<p> More informations :
		<li><i class="fa fa-soundcloud" aria-hidden="true"></i></li>
		<li><i class="fa fa-facebook" aria-hidden="true"></i></li>
		<li><i class="fa fa-instagram" aria-hidden="true"></i></li>
		<li><i class="fa fa-shopping-cart" aria-hidden="true"></i></li>
	</p>
</div>
</div>
</html>
